<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magezon\LookBook\Block\Profile" type="Unveels\AddTryOnButton\Block\Profile" />
    <preference for="Webkul\MobikulCore\Controller\Adminhtml\Carousel\Save" type="Unveels\AddTryOnButton\Controller\Adminhtml\Carousel\Save" />
</config>
