<!--@subject Registration successful @-->
{{template config_path="design/email/header_template"}}
<table>
    <tr>
        <td>
            <p>
                {{trans "Hi %name," name=$varName}}
            </p>
            <p>
               {{trans "You have successfully registered for an account at our website."}}
            </p>
            <p>
                {{trans "Please give us time to verify. You will be informed when your account gets approved."}}
            </p>
            <p>
                {{trans "Thank you."}}
            </p>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
