<table id="bss-ptd-table">
    <thead data-bind="css: {sortable: jsonSystemConfig.sorting}">
    <tr>
        <th data-bind="text: $t(attributeData.label), style: {backgroundColor: '#' + jsonSystemConfig.backGround, color: '#' + jsonSystemConfig.textColor}"></th>
        <!-- ko if: isDisplayCol('sku') -->
        <th class="sku" data-bind="click: jsonSystemConfig.sorting ? sortTableData : null, text: $t('Sku'), style: {backgroundColor: '#' + jsonSystemConfig.backGround, color: '#' + jsonSystemConfig.textColor}"></th>
        <!-- /ko -->
        <!-- ko if: isDisplayCol('availability') -->
        <th class="quantity" data-bind="click: jsonSystemConfig.sorting ? sortTableData : null, text: $t('Availability'), style: {backgroundColor: '#' + jsonSystemConfig.backGround, color: '#' + jsonSystemConfig.textColor}"></th>
        <!-- /ko -->
        <!-- ko if: isDisplayCol('unit_price') -->
        <!-- ko ifnot: jsonSystemConfig.hidePrice -->
        <th class="price" data-bind="click: jsonSystemConfig.sorting ? sortTableData : null, text: $t('Unit Price'), style: {backgroundColor: '#' + jsonSystemConfig.backGround, color: '#' + jsonSystemConfig.textColor}"></th>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: jsonSystemConfig.showExclTaxSubTotal -->
        <!-- ko if: isDisplayCol('excl_tax_price') -->
        <!-- ko ifnot: jsonSystemConfig.hidePrice -->
        <th class="price_excl_tax" data-bind="click: jsonSystemConfig.sorting ? sortTableData : null, text: $t('Excl. Tax'), style: {backgroundColor: '#' + jsonSystemConfig.backGround, color: '#' + jsonSystemConfig.textColor}"></th>
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: isDisplayCol('subtotal') -->
        <!-- ko ifnot: jsonSystemConfig.hidePrice -->
        <th class="subtotal" data-bind="click: jsonSystemConfig.sorting ? sortTableData : null, text: $t('Subtotal'), style: {backgroundColor: '#' + jsonSystemConfig.backGround, color: '#' + jsonSystemConfig.textColor}"></th>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: jsonSystemConfig.showExclTaxSubTotal -->
        <!-- ko if: isDisplayCol('excl_tax_price') -->
        <!-- ko ifnot: jsonSystemConfig.hidePrice -->
        <th class="subtotal_excl_tax" data-bind="click: jsonSystemConfig.sorting ? sortTableData : null, text: $t('Subtotal Excl. Tax'), style: {backgroundColor: '#' + jsonSystemConfig.backGround, color: '#' + jsonSystemConfig.textColor}"></th>
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: isDisplayCol('allow_pre_order') -->
        <th class="allow_pre_order" data-bind="click: jsonSystemConfig.sorting ? sortTableData : null, text: $t('Allow Pre Order'), style: {backgroundColor: '#' + jsonSystemConfig.backGround, color: '#' + jsonSystemConfig.textColor}"></th>
        <!-- /ko -->
        <!-- ko ifnot: jsonSystemConfig.hidePrice -->
        <th class="order_qty" data-bind="click: jsonSystemConfig.sorting ? sortTableData : null, text: $t('Qty'), style: {backgroundColor: '#' + jsonSystemConfig.backGround, color: '#' + jsonSystemConfig.textColor}"></th>
        <!-- /ko -->
    </tr>
    </thead>
    <tbody data-bind="foreach: data">
    <!-- ko if: $parent.isDisplayed(id) -->
    <tr class="bss-table-row" data-bind="event: {mouseover: $parent.showTierPrice, mouseout: $parent.hideTierPrice}, css: {'bss-disabled': $parent.isOutOfStock(quantity, $data.id)}, attr: {'attribute-id': $parent.attributeData.id}">
        <!-- ko if: $parent.noSwatch === "1" -->
        <td class="bss-table-row-attr swatch-option swatch-attribute" data-bind="
            click: $parent.loadNoSwatch.bind($parent),
            css: {selected: is_selected},
            attr: {
                'data-product-id': id,
                'product-id': id,
                'option-label': $parent.getOptionLabel(id, $parent.attributeData.id),
                'attribute-code': $parent.attributeData.code,
                'attribute-id': $parent.attributeData.id,
                'option-id': $parent.getOptionId($parent.attributeData.id, id)
            }"
        >
            <span data-bind="text: $parent.getOptionLabel(id, $parent.attributeData.id)"></span>
        </td>
        <!-- /ko -->
        <!-- ko if: $parent.noSwatch === "0" -->
        <td class="bss-table-row-attr swatch-option swatch-attribute" data-bind="click: $parent.addSelectedClass, css: {selected: is_selected}, attr: {'data-product-id': id, 'product-id': id, 'option-label': $parent.getOptionLabel(id, $parent.attributeData.id), 'attribute-code': $parent.attributeData.code, 'attribute-id': $parent.attributeData.id, 'option-id': $parent.getOptionId($parent.attributeData.id, id)}" >
            <div data-bind="html: $parent.renderOptionHtml($parent.attributeData.id, $parent.getOptionId($parent.attributeData.id, id))"></div>
        </td>
        <!-- /ko -->
        <!-- ko if: $parent.isDisplayCol('sku') -->
        <td>
            <span data-bind="text: sku"></span>
        </td>
        <!-- /ko -->
        <!-- ko if: $parent.isDisplayCol('availability') -->
        <td>
            <span data-bind="text: quantity"></span>
        </td>
        <!-- /ko -->
        <!-- ko if: $parent.isDisplayCol('unit_price') -->
        <!-- ko ifnot: $parent.jsonSystemConfig.hidePrice -->
        <td>
            <!-- ko if: can_show_price -->
            <!-- ko ifnot: $parent.jsonSystemConfig.hidePrice -->
            <div class="bss-price" data-bind="text: $parent.getFormattedPrice(price), attr: {'data-amount': price}"></div>
            <!-- ko if: special_price -->
            <div class="bss-old-price" data-bind="text: $parent.getFormattedPrice(old_price), attr: {'data-amount': price}"></div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko ifnot: can_show_price -->
            <span data-bind="text: hideprice_message"></span>
            <!-- /ko -->
        </td>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: $parent.jsonSystemConfig.showExclTaxSubTotal -->
        <!-- ko if: $parent.isDisplayCol('excl_tax_price') -->
        <!-- ko ifnot: $parent.jsonSystemConfig.hidePrice -->
        <td>
            <!-- ko if: can_show_price -->
            <!-- ko ifnot: $parent.jsonSystemConfig.hidePrice -->
            <div data-bind="text: $parent.getFormattedPrice(price_excl_tax)"></div>
            <!-- ko if: special_price -->
            <div class="bss-old-price" data-bind="text: $parent.getFormattedPrice(old_price)"></div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- /ko -->
        </td>
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: $parent.isDisplayCol('subtotal') -->
        <!-- ko ifnot: $parent.jsonSystemConfig.hidePrice -->
        <td>
            <!-- ko if: subtotal >= 0 -->
            <span data-bind="text: $parent.getFormattedPrice(subtotal)"></span>
            <!-- /ko -->
        </td>
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: $parent.jsonSystemConfig.showExclTaxSubTotal -->
        <!-- ko if: $parent.isDisplayCol('excl_tax_price') -->
        <!-- ko ifnot: $parent.jsonSystemConfig.hidePrice -->
        <td>
            <!-- ko if: subtotal_excl_tax >= 0 -->
            <span data-bind="text: $parent.getFormattedPrice(subtotal_excl_tax)"></span>
            <!-- /ko -->
        </td>
        <!-- /ko -->
        <!-- /ko -->
        <!-- /ko -->
        <!-- ko if: $parent.isDisplayCol('allow_pre_order') -->
        <td class="allow_pre_order">
            <!-- ko if: $parent.dataPreOrder(id).pre_order_message && $parent.dataPreOrder(id).isPreOrder -->
            <div class="bss-pre-order">
                <span data-bind="text: $parent.dataPreOrder(id).pre_order_message"></span>
            </div>
            <!-- /ko -->
            <span class="allow_pre_order" data-bind="text: $parent.dataPreOrder(id).isPreOrder ? $t('Yes') : $t('No')"></span>
        </td>
        <!-- /ko -->
        <!-- ko ifnot: $parent.jsonSystemConfig.hidePrice -->
        <td class="bss-qty-col">
            <!-- ko if: can_show_price -->
            <!-- ko if: $parent.isDisplayCol('tier_price') -->
            <!-- ko if: $data.tierPrice -->
            <div class="bss-tier-detailed">
                <!-- ko if: $data.tierPrice -->
                <ul class="bss-prices-tier items" data-bind="foreach: $data.tierPrice">
                    <li class="item" data-bind="html: $parents[1].getTranslationTierPrice(qty, $parents[1].getFormattedPrice(price), save_percent)">
                    </li>
                </ul>
                <!-- /ko -->
                <!-- ko if: $parent.jsonConfig.preorder -->
                <!-- ko if: $parent.jsonConfig.preorder.child -->
                <!-- ko if: $parent.jsonConfig.preorder.child[$data.id].preorder == "1" -->
                <ul class="bss-prices-tier items">
                    <li class="item" data-bind="html: $parent.jsonConfig.preorder.child[$data.id].availability_message">
                    </li>
                    <li class="item" data-bind="html: $parent.jsonConfig.preorder.child[$data.id].message">
                    </li>
                </ul>
                <!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <input type="number" data-bind="value: order_qty, event: {change: function(data, event) { $parent.updateInputQty(data, event) }}, attr: {'data-product-id': id, id: 'bss-qty-' + id, name: 'bss-qty[' + id + ']'}" title="Qty" class="input-text qty bss-qty" maxlength="12" value="0">
            <!-- ko if: order_qty > 0 && order_qty < min_order_qty  -->
            <div generated="true" class="bss-note-detailed mage-error" data-bind="text: 'The fewest you may purchase is ' + min_order_qty + '.'"></div>
            <!-- /ko -->
            <!-- ko if: order_qty > 0 && order_qty > max_order_qty  -->
            <div generated="true" class="bss-note-detailed mage-error" data-bind="text: 'The most you may purchase is' + max_order_qty + '.'"></div>
            <!-- /ko -->
            <!-- ko if: order_qty < 0  -->
            <div generated="true" class="bss-note-detailed mage-error" data-bind="i18n: 'Please enter a number 0 or greater in this field.'"></div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko if: is_update_item  -->
            <input type="hidden" data-bind="attr: {name: 'bss-item[' + id + ']', value: is_update_value}">
            <!-- /ko -->
        </td>
        <!-- /ko -->
    </tr>
    <!-- /ko -->
    </tbody>
    <tfoot>
    <!-- ko ifnot: isQtyError -->
    <!-- ko foreach: dataOrdered -->
    <tr>
        <td>
            <!-- ko if: ($parent.noSwatch == "0") -->
            <div data-bind="html: html"></div>
            <!-- /ko -->
            <!-- ko if: ($parent.noSwatch == "1") -->
            <div data-bind="text: label"></div>
            <!-- /ko -->
        </td>
        <td data-bind="text: order_qty"></td>
    </tr>
    <!-- /ko -->
    <!-- /ko -->
    <tr>
        <td data-bind="text: $t('Total Qty')">
        </td>
        <td class="bss-totals-qty">
            <!-- ko ifnot: isQtyError -->
            <span data-bind="text: orderQty"></span>
            <!-- /ko -->
        </td>
    </tr>
    <tr>
        <td data-bind="text: $t('Total')"></td>
        <td class="bss-totals">
            <!-- ko ifnot: orderPrice -->
            <span data-bind="text: getFormattedPrice(0)"></span>
            <!-- /ko -->
            <!-- ko ifnot: isQtyError -->
            <span data-bind="text: orderPrice"></span>
            <!-- /ko -->
        </td>
    </tr>
    <!-- ko if: jsonSystemConfig.showExclTaxSubTotal -->
    <!-- ko if: isDisplayCol('excl_tax_price') -->
    <tr>
        <td data-bind="text: $t('Total Excl. Tax')"></td>
        <td class="bss-excltax-totals">
            <!-- ko ifnot: orderPriceExclTax -->
            <span data-bind="text: getFormattedPrice(0)"></span>
            <!-- /ko -->
            <!-- ko ifnot: isQtyError -->
            <span data-bind="text: orderPriceExclTax"></span>
            <!-- /ko -->
        </td>
    </tr>
    <!-- /ko -->
    <!-- /ko -->
    </tfoot>
</table>
<input type="hidden" name="bss-qty-decimal" data-bind="attr: {value: isDecimalQty}">
<input type="hidden" id="bss-option-price" value="0" data-excltax-price="0" />
<input type="hidden" id="bss-addtocart-data" name="bss-addtocart-data" data-bind="attr: {value: prepareCartData()}" value="" />
<input type="hidden" name="bss-table-ordering" id="bss-table-ordering" value="1">
<input type="hidden" id="bss-updatecart-data" name="bss-updatecart-data" data-bind="value: cartDataInput()" value="">
<div afterRender="selectedRedirectSDCP"></div>
