<?xml version="1.0"?>
<!--
/**
 * MB "Vienas bitas" (www.magetrend.com)
 *
 * @category  Magetrend Extensions for Magento 2
 * @package  Magetend/NewsletterMaker
 * @author   E. Stulpinas <edwin@magetrend.com>
 * @license  http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 * @link     https://www.magetrend.com/magento-2-newsletter-maker
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Newsletter\Block\Adminhtml\Template">
        <plugin name="magetrend-newslettermaker-adminhtml-template"
                type="Magetrend\NewsletterMaker\Plugin\Newsletter\Block\Adminhtml\Template"
                sortOrder="10"/>
    </type>

    <type name="Magento\Newsletter\Block\Adminhtml\Template\Grid">
        <plugin name="magetrend-newslettermaker-template-grid"
                type="Magetrend\NewsletterMaker\Plugin\Newsletter\Block\Adminhtml\Template\Grid"
                sortOrder="10"/>
    </type>

    <type name="Magento\Newsletter\Block\Adminhtml\Queue\Edit\Form">
        <plugin name="magetrend-newslettermaker-queue-form"
                type="Magetrend\NewsletterMaker\Plugin\Newsletter\Block\Adminhtml\Queue\Edit\Form"
                sortOrder="10"/>
    </type>

    <type name="Magento\Newsletter\Controller\Adminhtml\Queue\Save">
        <plugin name="magetrend-newslettermaker-queue-save"
                type="Magetrend\NewsletterMaker\Plugin\Newsletter\Controller\Adminhtml\Queue\Save"
                sortOrder="10"/>
    </type>

    <type name="Magento\Newsletter\Model\Queue">
        <plugin name="magetrend-newslettermaker-queue"
                type="Magetrend\NewsletterMaker\Plugin\Newsletter\Model\Queue"
                sortOrder="100"/>
    </type>

    <type name="Magento\Email\Model\Template">
        <plugin name="magetrend-newslettermaker-email-template"
                type="Magetrend\NewsletterMaker\Plugin\Email\Model\Template"
                sortOrder="100"/>
    </type>

    <type name="Magento\Newsletter\Model\Template">
        <plugin name="magetrend-newslettermaker-template"
                type="Magetrend\NewsletterMaker\Plugin\Newsletter\Model\Template"
                sortOrder="100"/>
    </type>

</config>