.control {
    position: relative;
}
.field-icon {
    position: absolute;
	z-index: 2;
	right: 15px;
	top: 15px;
}
.field-icon.eye-close {
    top: 16px;
}
.field-icon.toggle-password.eye-close::before{
    content:url('../images/eye-close.svg');
}
.field-icon.toggle-password.eye-open::before{
    content:url('../images/eye-open.svg');
}
