<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_OrderRestriction
 * @author     Extension Team
 * @copyright  Copyright (c) 2021-2021 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Helper\Data">
        <plugin name="check_order_rule"
                type="Bss\OrderRestriction\Plugin\Checkout\Helper\Data"
                sortOrder="30" />
    </type>

    <type name="Magento\Multishipping\Helper\Data">
        <plugin name="check_order_rule"
                type="Bss\OrderRestriction\Plugin\Multishipping\Helper\Data"
                sortOrder="30"/>
    </type>

    <!-- Add to cart restriction -->
    <type name="Magento\Checkout\Controller\Cart\Add">
        <plugin name="validate_customer_before_add_to_cart"
                type="Bss\OrderRestriction\Plugin\Model\ValidateTheCustomerBeforeAddToCart"
                sortOrder="30" />
    </type>
    <!-- Wishlist to cart -->
    <type name="Magento\Wishlist\Controller\Index\Cart">
        <plugin name="validate_customer_before_add_to_cart"
                type="Bss\OrderRestriction\Plugin\Model\ValidateTheCustomerBeforeAddToCart"
                sortOrder="30" />
    </type>
    <type name="Magento\Wishlist\Controller\Index\Allcart">
        <plugin name="validate_customer_before_add_to_cart"
                type="Bss\OrderRestriction\Plugin\Model\ValidateTheCustomerBeforeAddToCart"
                sortOrder="30" />
    </type>
    <!-- Update items qty in cart page -->
    <type name="Magento\Checkout\Controller\Cart\UpdatePost">
        <plugin name="validate_customer_before_add_to_cart"
                type="Bss\OrderRestriction\Plugin\Model\ValidateTheCustomerBeforeAddToCart"
                sortOrder="30" />
    </type>
    <!-- Update in mini cart -->
    <type name="Magento\Checkout\Controller\Sidebar\UpdateItemQty">
        <plugin name="validate_customer_before_add_to_cart"
                type="Bss\OrderRestriction\Plugin\Model\ValidateTheCustomerBeforeAddToCart"
                sortOrder="30" />
    </type>
    <!-- Update item page -->
    <type name="Magento\Checkout\Controller\Cart\UpdateItemOptions">
        <plugin name="validate_customer_before_add_to_cart"
                type="Bss\OrderRestriction\Plugin\Model\ValidateTheCustomerBeforeAddToCart"
                sortOrder="30" />
    </type>
    <!-- Update qty in cart page -->
    <type name="Magento\Checkout\Controller\Cart\UpdateItemQty">
        <plugin name="validate_customer_before_add_to_cart"
                type="Bss\OrderRestriction\Plugin\Model\ValidateTheCustomerBeforeAddToCart"
                sortOrder="30" />
    </type>
</config>
