<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Mirasvit\LandingPage\Api\Data\PageInterface" type="Mirasvit\LandingPage\Model\Page"/>


    <!--register requests for all search indices-->
    <type name="Magento\Framework\Search\Request\Config\FilesystemReader">
        <plugin name="mstLandingPageSearchIndices" type="Mirasvit\LandingPage\Plugin\RequestConfigPlugin"/>
    </type>

    <!--UI-->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="mst_landing_listing_data_source" xsi:type="string">Mirasvit\LandingPage\Model\ResourceModel\Page\Grid</item>
            </argument>
        </arguments>
    </type>
</config>
