<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="product_attribute_display" translate="label" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Product Attribute Display</label>
            <tab>general</tab>
            <resource>Chill_AttributeSet::config</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="attributes_to_display" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Attributes to Display</label>
                    <source_model>Chill\AttributeSet\Model\Config\Source\ProductAttributes</source_model>
                </field>
            </group>
        </section>
    </system>
</config>