.product-options-wrapper{background: #ededee none repeat scroll 0 0; border: 1px solid #d7d7d7; padding: 20px 0 8px;}
.product-options-bottom{background: #ededee none repeat scroll 0 0; border: 1px solid #d7d7d7; padding: 20px 0 8px;}



/* umaji@appristine.in appristine123 live:umaji_5*/