<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework/Event/etc/events.xsd">
    <event name="sales_order_invoice_pay">
        <observer name="set_pending_for_cod" instance="Unveels\OrderInvoiceStatus\Observer\SetInvoiceStatusOpen"/>
    </event>
    <event name="sales_order_save_after">
        <observer name="unveels_set_invoice_paid" instance="Unveels\OrderInvoiceStatus\Observer\SetInvoicePaid" />
    </event>
</config>
