<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_AIChromaDbClient
 * @author    Webkul Software Private Limited
 * @copyright Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Webkul_AIChromaDbClient::chromadb" title="AI Configuration" translate="title" module="Webkul_AIChromaDbClient" sortOrder="10" resource="Webkul_AIChromaDbClient::chromadb" />
		<add id="Webkul_AIChromaDbClient::general" title="General Configuration" module="Webkul_AIChromaDbClient" action="adminhtml/system_config/edit/section/aichromadbclient" sortOrder="10" parent="Webkul_AIChromaDbClient::chromadb" resource="Webkul_AIChromaDbClient::general"/>
	</menu>
</config>