<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) Amasty (https://www.amasty.com)
 * @package Shop by Brand for Magento 2
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Amasty\ShopbyBrand\Model\ResourceModel\Slider\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">amasty_amshopby_option_setting</argument>
            <argument name="eventPrefix" xsi:type="string">amasty_amshopby_brand_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">amasty_amshopby_brand_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Amasty\ShopbyBase\Model\ResourceModel\OptionSetting</argument>
        </arguments>
    </type>

    <type name="Magento\Widget\Model\Widget\Instance">
        <plugin name="Amasty_ShopbyBrand::add-empty-arguments" type="Amasty\ShopbyBrand\Plugin\Widget\Model\Instance\AddEmptyValues" />
    </type>

    <virtualType name="Amasty\ShopbyBrand\Block\Adminhtml\System\Config\InformationBlocks\SuggestNotification"
                 type="Amasty\ShopbyBase\Block\Adminhtml\System\Config\InformationBlocks\Notification">
        <arguments>
            <argument name="messageValidator"
                      xsi:type="object">Amasty\ShopbyBrand\Block\Adminhtml\System\Config\InformationBlocks\Validation\SuggestValidator</argument>
            <argument name="notificationText"
                      xsi:type="string"><![CDATA[Extra features may be provided by additional packages in the extension's 'suggest' section.
                Please explore the available suggested packages <a href="https://amasty.com/docs/doku.php?id=magento_2:shop-by-brand&utm_source=extension&utm_medium=backend&utm_campaign=suggest_shopbybrand#additional_packages_provided_in_composer_suggestions" target="_blank">here</a>.]]>
            </argument>
            <argument name="isEscapeNeed" xsi:type="boolean">false</argument>
        </arguments>
    </virtualType>
    <virtualType name="Amasty\ShopbyBrand\Block\Adminhtml\System\Config\InformationBlocks\Validation\SuggestValidator"
                 type="Amasty\ShopbyBase\Block\Adminhtml\System\Config\InformationBlocks\Validation\SuggestValidator">
        <arguments>
            <argument name="suggestModules" xsi:type="array">
                <item name="Amasty_ShopbyBrandGraphQl" xsi:type="string">Amasty_ShopbyBrandGraphQl</item>
                <item name="Amasty_ShopByBrandCloud" xsi:type="string">Amasty_ShopByBrandCloud</item>
                <item name="Amasty_ShopByBrandWidget" xsi:type="string">Amasty_ShopByBrandWidget</item>
                <item name="Amasty_ShopByBrandSubscriptionFunctionality"
                      xsi:type="string">Amasty_ShopByBrandSubscriptionFunctionality</item>
                <item name="Amasty_ShopByBrandHyvaCompatibility"
                      xsi:type="string">Amasty_ShopByBrandHyvaCompatibility</item>
            </argument>
        </arguments>
    </virtualType>
</config>
