<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */ 

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Sidebar */

?>

<div data-block="minicart" class="minicart-wrapper">
    <a class="action showcart block block-shopping-cart" href="<?php /* @escapeNotVerified */ echo $block->getShoppingCartUrl(); ?>"
       data-bind="scope: 'minicart_content'">
        <div class="block block-title color-red"><?php /* @escapeNotVerified */ echo __('عربة التسوق'); ?></div>
        <div class="block block-content">
            <div class="outer-cart">
                <div class="inner-cart">
                    <img src="<?php echo $block->getViewFileUrl('images/cart.png'); ?>" class="img-cart">
                     <span class="mob-counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
        <span class="product-info counter qty empty move"
              data-bind="css: { empty: !!getCartParam('summary_count') == false }, blockLoader: isLoading">
           
            <span class="counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --> مشتريات </span>
            <span data-bind="html: getCartParam('subtotal')"></span>
            <span class="counter-label">
            <!-- ko if: getCartParam('summary_count') -->
                <!-- ko text: getCartParam('sum<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->

<div class="page-title-wrapper1">
    <h1 class="page-title1"><span class="base" >إنتقل للدفع</span></h1>
</div>



<div class="authentication-wrapper" data-block="authentication" data-bind="visible: isActive()">
    <div class="iwc-already-account"><span class="iwc-login">هل لديك حساب بالفعل؟ </span><button
        type="button"
        class="action action-auth-toggle"
        data-trigger="authentication">
        <span data-bind="i18n: 'Click here to login '"></span>
    </button><span class="iwc-or">او</span><input type=checkbox ><span class="iwc-sigup"> إنشء حساب</span></div>
    <div class="block-authentication"
         style="display: none"
         data-bind="mageInit: {
            'Magento_Ui/js/modal/modal':{
                'type': 'custom',
                'modalClass': 'authentication-dropdown',
                'trigger': '[data-trigger=authentication]',
                'wrapperClass': 'authentication-wrapper',
                'parentModalClass': '_has-modal-custom _has-auth-shown',
                'responsive': true,
                'responsiveClass': 'custom-slide',
                'overlayClass': 'dropdown-overlay modal-custom-overlay',
                'buttons': []
            }}">
        <!-- ko foreach: getRegion('before') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div class="block block-customer-login"
             data-bind="attr: {'data-label': $t('or')}">
            <div class="block-title">
                <strong id="block-customer-login-heading"
                        role="heading"
                        aria-level="2"
                        data-bind="i18n: 'Sign In'"></strong>
            </div>
            <!-- ko foreach: getRegion('messages') -->
            <!-- ko template: getTemplate() --><!-- /ko -->
            <!--/ko-->
            <div class="block-content" aria-labelledby="block-customer-login-heading">
                <form data-role="login"
                      data-bind="submit:login"
                      method="post">
                    <div class="fieldset"
                              data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
                        <div class="field field-email required">
                            <label class="label" for="login-email"><span data-bind="i18n: 'Email Address'"></span></label>
                            <div class="control">
                                <input type="email"
                                       class="input-text"
                                       id="login-email"
                                       name="username"
                                       data-bind="attr: {autocomplete: autocomplete}"
                                       data-validate="{required:true, 'validate-email':true}" />
                            </div>
                        </div>
                        <div class="field field-password required">
                            <label for="login-password" class="label"><span data-bind="i18n: 'Password'"></span></label>
                            <div class="control">
                                <input type="password"
                                       class="input-text"
                                       id="login-password"
                                       name="password"
                                       data-bind="attr: {autocomplete: autocomplete}"
                                       data-validate="{required:true}"
                                       autocomplete="off"/>
                            </div>
                        </div>
                        <!-- ko foreach: getRegion('additional-login-form-fields') -->
                        <!-- ko template: getTemplate() --><!-- /ko -->
                        <!-- /ko -->
                    </div>
                    <div class="actions-toolbar">
                        <input name="context" type="hidden" value="checkout" />
                        <div class="primary">
                            <button type="submit" class="action action-login secondary"><span data-bind="i18n: 'Sign In'"></span></button>
                        </div>
                        <div class="secondary">
                            <a class="action action-remind" data-bind="attr: { href: forgotPasswordUrl }">
                                <span data-bind="i18n: 'Forgot Your Password?'"></span>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
mary_count') --><!-- /ko -->
                <!-- ko i18n: 'items' --><!-- /ko -->
            <!-- /ko -->
            </span>
        </span>
        <span class="drop-down-btn"></span>
                </div>
            </div>
        </div>
    </a>
    <?php if ($block->getIsNeedToDisplaySideBar()): ?>
        <div class="block block-minicart empty"
             data-role="dropdownDialog"
             data-mage-init='{"dropdownDialog":{
                "appendTo":"[data-block=minicart]",
                "triggerTarget":".showcart",
                "timeout": "2000",
                "closeOnMouseLeave": false,
                "closeOnEscape": true,
                "triggerClass":"active",
                "parentClass":"active",
                "buttons":[]}}'>
            <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
            <?php echo $block->getChildHtml('minicart.addons'); ?>
        </div>
    <?php endif ?>
    <script>
        window.checkout = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getConfig()); ?>;
    </script>
    <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
        }
    }
    </script>
</div>


