<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CustomOptionAbsolutePriceQuantity
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2022 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Ui\DataProvider\Product\ProductCustomOptionsDataProvider"
                type="Bss\CustomOptionAbsolutePriceQuantity\Override\Catalog\Ui\DataProvider\Product\ProductCustomOptionsDataProvider" />
    <preference for="Magento\Backend\Model\Menu\Builder"
                type="Bss\CustomOptionAbsolutePriceQuantity\Override\Backend\Model\Menu\Builder" />
    <type name="Magento\Framework\Notification\MessageList">
        <arguments>
            <argument name="messages" xsi:type="array">
                <item name="optionCoreModuleRequiredOfAbs" xsi:type="string">Bss\CustomOptionAbsolutePriceQuantity\Model\System\Message\CoreModuleRequired</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Catalog\Controller\Adminhtml\Product\Initialization\Helper">
        <plugin name="bss-after-merge-option" type="Bss\CustomOptionAbsolutePriceQuantity\Plugin\Catalog\Controller\Adminhtml\Product\Initialization\Helper" sortOrder="50"/>
    </type>
</config>
