<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CustomOptionAbsolutePriceQuantity
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2023 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Bss_CustomOptionCore::bss_custom_option_stock" title="Custom Option Qty Report" module="Bss_CustomOptionAbsolutePriceQuantity" sortOrder="20" resource="Bss_CustomOptionCore::manage_advanced_custom_option" parent="Bss_CustomOptionCore::advanced_custom_option" action="bssabspriceqty/stock" dependsOnModule="Bss_CustomOptionCore" dependsOnConfig="coapnqty_config/general/allow_qty_report"/>
    </menu>
</config>
