<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Sales\Block\Adminhtml\Order\Create\Search\Grid" type="Chill\Vortex\Plugin\Order\Create\Search\GridPlugin" />
    <type name="Magento\Catalog\Model\Layer\FilterList">
        <plugin name="stock-filter-category-navigation" type="Chill\Vortex\Model\Plugin\FilterList" sortOrder="100" />
    </type>
</config>