<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CustomOptionAbsolutePriceQuantity
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2020 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_option_price_configuration_after">
        <observer name="coap_check_module_disable" instance="Bss\CustomOptionAbsolutePriceQuantity\Observer\OptionPriceRenderer" />
    </event>
    <event name="bss_custom_options_render_text_after_title">
        <observer name="set_description_to_option_title" instance="Bss\CustomOptionAbsolutePriceQuantity\Observer\SetTooltipDescription"/>
    </event>
    <event name="bss_custom_options_render_select_after_title">
        <observer name="set_description_to_option_title" instance="Bss\CustomOptionAbsolutePriceQuantity\Observer\SetTooltipDescription"/>
    </event>
    <event name="bss_custom_options_render_file_after_title">
        <observer name="set_description_to_option_title" instance="Bss\CustomOptionAbsolutePriceQuantity\Observer\SetTooltipDescription"/>
    </event>

    <event name="bss_custom_options_render_text_after_control">
        <observer name="setOptionQtyBox" instance="Bss\CustomOptionAbsolutePriceQuantity\Observer\SetOptionQtyBox" />
    </event>
    <event name="bss_custom_options_render_select_after_control">
        <observer name="setOptionQtyBox" instance="Bss\CustomOptionAbsolutePriceQuantity\Observer\SetOptionQtyBox" />
    </event>
    <event name="bss_custom_options_render_file_after_control">
        <observer name="setOptionQtyBox" instance="Bss\CustomOptionAbsolutePriceQuantity\Observer\SetOptionQtyBox" />
    </event>
</config>
