<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_AdvancedHidePrice
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_cart_product_add_before">
        <observer name="bss_callforprice_controller_action_predispatch_checkout_cart_add" instance="Bss\AdvancedHidePrice\Model\Observer\AddCart"/>
    </event>
    <event name="callforprice_after_save_form">
        <observer name="bss_callforprice_formfield_after_save" instance="Bss\AdvancedHidePrice\Model\Observer\AfterSave"/>
    </event>
</config>
