<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <section id="whatsappultimate">
            <group id="whatsappcountryflag" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <depends>
                    <field id="whatsappultimate/general/enable">1</field>
                </depends>
                <label>Country Flag Settings</label>
                <field id="enable" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Country Flag</label>
                    <source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
                </field>
                <field id="detect_by_ip" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Set Country Automatically</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Based On IP Address]]></comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
               <field id="defaultcountry" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default SMS Country</label>
                    <source_model>Magecomp\Whatsappcountryflag\Model\Config\Source\Country</source_model>
                    <depends>
                        <field id="enable">1</field>
                        <field id="detect_by_ip">0</field>
                    </depends>
                </field>
                 <field id="countryvalidate" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Country Digit</label>
                    <frontend_model>Magecomp\Whatsappcountryflag\Block\Adminhtml\Form\Field\Countryvalidate</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                   <!-- <depends>
                        <field id="enable">1</field>
                    </depends>-->
                    <!-- <comment>Country Digit With Country Code</comment> -->
                </field> 
            </group>
        </section>
     </system>
</config>