<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Unveels_SortFields" setup_version="1.0.1">
        <sequence>
            <module name="Bss_CustomerAttributes"/>
            <module name="MagePsycho_RegionCityPro"/>
        </sequence>
    </module>
</config>