<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_WebAr
 * @author    Webkul Software Private Limited
 * @copyright Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <type name="Webkul\WebAr\Logger\Handler">
    <arguments>
      <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
    </arguments>
  </type>
  <type name="Webkul\WebAr\Logger\Logger">
    <arguments>
      <argument name="name" xsi:type="string">webkulWebArLogHandler</argument>
      <argument name="handlers" xsi:type="array">
        <item name="system" xsi:type="object">Webkul\WebAr\Logger\Handler</item>
      </argument>
    </arguments>
  </type>

  <!--Add WebAR Configuration Data In JsonConfig-->
  <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
    <plugin name="Wk_afterGetJsonConfig"
      type="Webkul\WebAr\Plugin\ConfigurableProduct\Block\ConfigurableAfterGetJsonConfigPlugin"
      sortOrder="50" />
	</type>
</config>
