/**/
.image-customoption-container .image.image-placeholder:before {
    position: absolute;
    top: 3px;
    width: 100%;
    z-index: 1;
}

.image-customoption-container .image.image-placeholder:before {
    -webkit-font-smoothing: antialiased;
    font-size: 2rem;
    line-height: inherit;
    color: #ccc;
    content: '\e63c';
    font-family: 'Admin Icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.image-customoption-container .image.image-placeholder {
    height: 85px;
    background: #fff;
    box-sizing: border-box;
    display: inline-block;
    margin: 1.2rem 0px;
    position: relative;
    vertical-align: top;
    width: 100px;
}
.image-customoption-container .preview_image {
    height: 65px;
    width: 80px;
    border-radius: 5px;
    margin-top: 10px;
}

.image-customoption-container .image.image-placeholder input[type='file'] {
    border: 1px solid #000;
    font-size: inherit;
}
.image-customoption-container .image .image-placeholder-text {
    font-size: 1.1rem;
}

.image-customoption-container .preview {
    display: inline-block;
    margin: 1.2rem 0px;
    position: relative;
}

.image-customoption-container .preview .action-delete:before {
    font-family: "Admin Icons";
    content: "\e630";
    font-size: 1.8rem;
    line-height: inherit;
    color: #9e9e9e;
    overflow: hidden;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.image-customoption-container .preview .action-edit:before {
    font-family: "Admin Icons";
    content: "\e631";
    font-size: 1.8rem;
    line-height: inherit;
    color: #9e9e9e;
    overflow: hidden;
    font-weight: normal;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.image-customoption-container .preview button.action-delete {
    display: none;
    position: absolute;
    bottom: 0px;
}
.image-customoption-container .preview button.action-edit {
    display: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.image-customoption-container.loading .lds-hourglass {
    display: inline-block;
}
.lds-hourglass {
    display: none;
    position: relative;
    width: 100px;
    height: 85px;
    z-index: 99;
    position: relative;
    background: #fbfbfb;
    opacity: 0.8;
    border: 1px solid #eae6e6;
}
.lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 6px;
    box-sizing: border-box;
    border: 25px solid #e2262640;
    border-color: #ffffff99 #02f764cf #ffffff #ccff00ad;
    animation: lds-hourglass 1.2s infinite;
    position: relative;
    left: 20px;
    top: 10px;
}
.bsscustomoption-template-edit .dco-button {
    width: 100%;
    float: none;
}
button.action-default.delete {
    border: none;
    border-radius: 0;
    background: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    text-shadow: none;
    filter: none;
}
button.action-default.delete:before {
    font-family: 'MUI-Icons';
    font-style: normal;
    speak: none;
    font-weight: normal;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    content: '\e07f';
    color: #b7b3ad;
}
button.action-default.delete span {
    display: none;
}
td.col-draggable {
    position: relative;
}
td.col-draggable .bss_dco_span {
    position: absolute;
    left: 20px;
    top: 15px;
}
.control span.bss_dco_span {
    display: block;
}
@keyframes lds-hourglass {
    0% {
        transform: rotate(0);
        animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
        transform: rotate(900deg);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
        transform: rotate(1800deg);
    }
}
