<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_OrderDeliveryDate
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="email_order_set_template_vars_before">
        <observer name="bss-add-delivery-data-order" instance="Bss\OrderDeliveryDate\Observer\Order\EmailTemplateVars"/>
    </event>
    <event name="sales_order_load_after">
        <observer name="bss_delicery_date_sales_order_load" instance="Bss\OrderDeliveryDate\Observer\Sales\OrderLoadAfter" />
    </event>
    <event name="sales_model_service_quote_submit_before">
        <observer name="bss_orderdeliverydate" instance="Bss\OrderDeliveryDate\Observer\SaveDeliveryDateToOrderObserver"/>
    </event>
    <event name="sales_order_creditmemo_save_before">
        <observer name="bss_delivery_time_slot_price" instance="Bss\OrderDeliveryDate\Observer\CreditMemoSaveBefore" />
    </event>
    <!--Send mail sales-->
    <event name="email_invoice_set_template_vars_before">
        <observer name="bss_delivery_mail_invoice_sender" instance="Bss\OrderDeliveryDate\Observer\Sales\Order\Email\Sender"/>
    </event>
    <event name="email_order_comment_set_template_vars_before">
        <observer name="bss_delivery_mail_order_comment_sender" instance="Bss\OrderDeliveryDate\Observer\Sales\Order\Email\Sender"/>
    </event>
    <event name="email_shipment_set_template_vars_before">
        <observer name="bss_delivery_mail_shipment_sender" instance="Bss\OrderDeliveryDate\Observer\Sales\Order\Email\Sender"/>
    </event>
    <event name="email_shipment_comment_set_template_vars_before">
        <observer name="bss_delivery_mail_shipment_comment_sender" instance="Bss\OrderDeliveryDate\Observer\Sales\Order\Email\Sender"/>
    </event>
    <event name="email_invoice_comment_set_template_vars_before">
        <observer name="bss_delivery_mail_invoice_comment_sender" instance="Bss\OrderDeliveryDate\Observer\Sales\Order\Email\Sender"/>
    </event>
    <event name="email_creditmemo_set_template_vars_before">
        <observer name="bss_delivery_mail_creditmemo_sender" instance="Bss\OrderDeliveryDate\Observer\Sales\Order\Email\Sender"/>
    </event>
    <event name="email_creditmemo_comment_set_template_vars_before">
        <observer name="bss_delivery_mail_creditmemo_comment_sender" instance="Bss\OrderDeliveryDate\Observer\Sales\Order\Email\Sender"/>
    </event>
    <!--End Send mail sales-->
</config>
