<?xml version="1.0"?>
<!--
/**
 * MB "Vienas bitas" (www.magetrend.com)
 *
 * @category  Magetrend Extensions for Magento 2
 * @package  Magetend/NewsletterMaker
 * @author   E. Stulpinas <edwin@magetrend.com>
 * @license  http://opensource.org/licenses/osl-3.0.php Open Software License (OSL 3.0)
 * @link     https://www.magetrend.com/magento-2-newsletter-maker
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <tab id="magetrend" translate="label" sortOrder="200">
            <label>Magetrend Extensions</label>
        </tab>
        <section id="newslettermaker" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Newsletter Maker</label>
            <tab>magetrend</tab>
            <resource>Magetrend_NewsletterMaker::config</resource>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>
                <field id="is_active" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Is Active</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>

            <group id="template_settings" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">

                <label>Newsletter Settings</label>
                <field id="sender_name" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender Name</label>
                </field>

                <field id="sender_email" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender Email</label>
                </field>
            </group>

            <group id="editor" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Editor Settings</label>
                <field id="fonts" translate="label" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Additional Fonts</label>
                    <comment>One font per line</comment>
                </field>
            </group>

            <group id="license" translate="label" type="text" sortOrder="9999" showInDefault="1" showInWebsite="0" showInStore="0">
                <label><![CDATA[Information & License]]></label>
                <field id="key" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>License Key</label>
                    <comment><![CDATA[
                    If you don't know the license key, please follow this article
                    <a target="_blank" href="http://wiki2.magetrend.com/licensing/">
                    http://wiki2.magetrend.com/licensing/</a>
                    ]]></comment>
                </field>
                <field id="info" translate="label" type="label" sortOrder="1002" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Magetrend\NewsletterMaker\Block\Adminhtml\Config\Info</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
