<?xml version="1.0"?>
<!--
/**
* BSS Commerce Co.
*
* NOTICE OF LICENSE
*
* This source file is subject to the EULA
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://bsscommerce.com/Bss-Commerce-License.txt
*
* @category   BSS
* @package    Bss_CustomOptionTemplate
* @author     Extension Team
* @copyright  Copyright (c) 2018-2020 BSS Commerce Co. ( http://bsscommerce.com )
* @license    http://bsscommerce.com/Bss-Commerce-License.txt
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bss" translate="label" sortOrder="300">
            <label>Bss Commerce</label>
        </tab>
        <section id="bss_custom_option_template" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Custom Option Template</label>
            <tab>bss</tab>
            <resource>Bss_CustomOptionTemplate::config</resource>
            <group id="compatible" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Recommended Extensions</label>
                <field id="custom_option_mage_install" translate="label comment" type="label" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Bss Custom Option Image</label>
                    <frontend_model>Bss\CustomOptionCore\Block\Adminhtml\Module\CustomOptionImage</frontend_model>
                </field>
                <field id="dependent_install" translate="label comment" type="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Bss Dependent Custom Option</label>
                    <frontend_model>Bss\CustomOptionCore\Block\Adminhtml\Module\DependCustomOption</frontend_model>
                </field>
                <field id="absolute_price_quantity_install" translate="label comment" type="label" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Bss Custom Option Absolute Price Quantity</label>
                    <frontend_model>Bss\CustomOptionCore\Block\Adminhtml\Module\AbsPriceQty</frontend_model>
                </field>
            </group>
            <group id="set_config_option_customer_group" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Set New Customer Group</label>
                <field id="set_new_customer" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Set Customer Group Visibility For All Product</label>
                    <source_model>Bss\CustomOptionTemplate\Model\Config\Source\SetNewCustomerGroup</source_model>
                    <backend_model>Bss\CustomOptionTemplate\Model\Config\Backend\SetNewCustomerGroupHandle</backend_model>
                    <comment><![CDATA[Only set the value when creating a new customer group]]></comment>
                </field>
            </group>
            <group id="set_config_option_store_view" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Set New Store View</label>
                <field id="set_new_store_view" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Set Store View Visibility For All Product</label>
                    <source_model>Bss\CustomOptionTemplate\Model\Config\Source\SetNewStore</source_model>
                    <backend_model>Bss\CustomOptionTemplate\Model\Config\Backend\SetNewStoreHandle</backend_model>
                    <comment><![CDATA[Only set the value when creating a new store view]]></comment>
                </field>
            </group>

            <group id="advanced_setting" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Advanced Setting</label>
                <field id="save_mode" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Save Mode</label>
                    <source_model>Bss\CustomOptionTemplate\Model\Config\Source\SaveMode</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
