<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_DynamicCategory
 * @author     Extension Team
 * @copyright  Copyright (c) 2023 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!-- event controller_action_catalog_product_save_entity_after -->
    <event name="controller_action_catalog_product_save_entity_after">
        <observer name="bss_dynamic_category_saveproduct" instance="Bss\DynamicCategory\Observer\ProductSaveObserver"/>
    </event>
    <!-- event catalog_category_save_after -->
    <event name="catalog_category_save_after">
        <observer name="bss_dynamic_category_save" instance="Bss\DynamicCategory\Observer\CategorySaveObserver"/>
    </event>
    <!-- event catalog_category_prepare_save -->
    <event name="catalog_category_prepare_save">
        <observer name="bss_dynamic_category_prepare" instance="Bss\DynamicCategory\Observer\CategoryPrepareObserver"/>
    </event>
    <!-- event catalog_controller_category_delete -->
    <event name="catalog_controller_category_delete">
        <observer name="bss_dynamic_category_delete" instance="Bss\DynamicCategory\Observer\CategoryDeleteObserver"/>
    </event>
</config>
