<?xml version="1.0"?>
<!--
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_DynamicCategory
 * @author     Extension Team
 * @copyright  Copyright (c) 2023-present BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="bss" translate="label" sortOrder="300">
            <label><![CDATA[Bss Commerce]]></label>
        </tab>
        <section id="dynamic_category" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Dynamic Category</label>
            <tab>bss</tab>
            <resource>Bss_DynamicCategory::config_dynamic_category</resource>
            <group id="general" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Configuration</label>
                <field id="enable" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Version 1.0.0]]></comment>
                </field>
                <!-- This part is temporarily disabled, so it will temporarily set the field 'enable' to 2-->
                <field id="auto_reindex_product" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Automatically Reindex Matching Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Yes = Matching products will be refreshed automatically by a scheduled task. (UPDATE ON SCHEDULED)</comment>
                    <depends>
                        <field id="enable">2</field>
                    </depends>
                </field>
                <field id="reindex_product_time" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Reindex Matching Products Every</label>
                    <validate>validate-number validate-greater-than-zero validate-digits required-entry</validate>
                    <backend_model>Bss\DynamicCategory\Model\Config\CronConfig</backend_model>
                    <comment>Specify time in hours.</comment>
                    <depends>
                        <field id="enable">2</field>
                        <field id="auto_reindex_product">1</field>
                    </depends>
                </field>
                <!-- End -->
                <field id="reindex_logging" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Category Reindexation Logging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>Yes = category reindexation will be logged and will display products matching conditions.</comment>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
