<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © 2016 store.biztechconsultancy.com. All Rights Reserved. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
	<event name="admin_system_config_changed_section_translator">
		<observer name="translator_checkkey" instance="Biztech\Translator\Observer\checkKey" />
	</event>
</config>