<table class="data-grid data-grid-draggable">
    <thead>
        <tr>

            <th class="data-grid-th">Day</th>
            <th class="data-grid-th">Status</th>
            <th class="data-grid-th">Open Time</th>
            <th class="data-grid-th">Close Time</th>
        </tr>
    </thead>
    <tbody>
         <tr>
          <td>  <input type="text" name="day" value="Monday"></td>
        <td>
            <select id="status[]" class="admin__control-select" data-bind="optgroup: statusOpts,optionsValue: 'value', optionsText: 'label', value: status, event: {change: selectOption(this)}, afterRender: userChanges"></select>
        </td>
        <td>
            <select id="openhour[]" class="admin__control-select" data-bind="optgroup: openhoursOpts,        optionsValue: 'value',optionsText: 'label',value: openhours, event: {change: userChanges}"></select>
            <select id="openminute[]" class="admin__control-select" data-bind="optgroup: openminutesOpts,optionsValue: 'value', optionsText: 'label', value: openminutes, event: {change: userChanges}"></select>
        </td>
        <td>
            <select id="closehour[]" class="admin__control-select" data-bind="optgroup: closehoursOpts, optionsValue: 'value', optionsText: 'label', value: closehours, event: {change: userChanges}"></select>
            <select id="closeminute[]" class="admin__control-select"data-bind=" optgroup: closeminutesOpts, optionsValue: 'value', optionsText: 'label', value: closeminutes, event: {change: userChanges}"></select>
        </td>
    </tr>
             <tr>
          <td>  <input type="text" name="day" value="Monday"></td>
        <td>
            <select id="status[]" class="admin__control-select" data-bind="optgroup: statusOpts,optionsValue: 'value', optionsText: 'label', value: status, event: {change: selectOption(this)}, afterRender: userChanges"></select>
        </td>
        <td>
            <select id="openhour[]" class="admin__control-select" data-bind="optgroup: openhoursOpts,        optionsValue: 'value',optionsText: 'label',value: openhours, event: {change: userChanges}"></select>
            <select id="openminute[]" class="admin__control-select" data-bind="optgroup: openminutesOpts,optionsValue: 'value', optionsText: 'label', value: openminutes, event: {change: userChanges}"></select>
        </td>
        <td>
            <select id="closehour[]" class="admin__control-select" data-bind="optgroup: closehoursOpts, optionsValue: 'value', optionsText: 'label', value: closehours, event: {change: userChanges}"></select>
            <select id="closeminute[]" class="admin__control-select"data-bind=" optgroup: closeminutesOpts, optionsValue: 'value', optionsText: 'label', value: closeminutes, event: {change: userChanges}"></select>
        </td>
    </tr>
             <tr>
          <td>  <input type="text" name="day" value="Monday"></td>
        <td>
            <select id="status[]" class="admin__control-select" data-bind="optgroup: statusOpts,optionsValue: 'value', optionsText: 'label', value: status, event: {change: selectOption(this)}, afterRender: userChanges"></select>
        </td>
        <td>
            <select id="openhour[]" class="admin__control-select" data-bind="optgroup: openhoursOpts,        optionsValue: 'value',optionsText: 'label',value: openhours, event: {change: userChanges}"></select>
            <select id="openminute[]" class="admin__control-select" data-bind="optgroup: openminutesOpts,optionsValue: 'value', optionsText: 'label', value: openminutes, event: {change: userChanges}"></select>
        </td>
        <td>
            <select id="closehour[]" class="admin__control-select" data-bind="optgroup: closehoursOpts, optionsValue: 'value', optionsText: 'label', value: closehours, event: {change: userChanges}"></select>
            <select id="closeminute[]" class="admin__control-select"data-bind=" optgroup: closeminutesOpts, optionsValue: 'value', optionsText: 'label', value: closeminutes, event: {change: userChanges}"></select>
        </td>
    </tr>
             <tr>
          <td>  <input type="text" name="day" value="Monday"></td>
        <td>
            <select id="status[]" class="admin__control-select" data-bind="optgroup: statusOpts,optionsValue: 'value', optionsText: 'label', value: status, event: {change: selectOption(this)}, afterRender: userChanges"></select>
        </td>
        <td>
            <select id="openhour[]" class="admin__control-select" data-bind="optgroup: openhoursOpts,        optionsValue: 'value',optionsText: 'label',value: openhours, event: {change: userChanges}"></select>
            <select id="openminute[]" class="admin__control-select" data-bind="optgroup: openminutesOpts,optionsValue: 'value', optionsText: 'label', value: openminutes, event: {change: userChanges}"></select>
        </td>
        <td>
            <select id="closehour[]" class="admin__control-select" data-bind="optgroup: closehoursOpts, optionsValue: 'value', optionsText: 'label', value: closehours, event: {change: userChanges}"></select>
            <select id="closeminute[]" class="admin__control-select"data-bind=" optgroup: closeminutesOpts, optionsValue: 'value', optionsText: 'label', value: closeminutes, event: {change: userChanges}"></select>
        </td>
    </tr>
             <tr>
          <td>  <input type="text" name="day" value="Monday"></td>
        <td>
            <select id="status[]" class="admin__control-select" data-bind="optgroup: statusOpts,optionsValue: 'value', optionsText: 'label', value: status, event: {change: selectOption(this)}, afterRender: userChanges"></select>
        </td>
        <td>
            <select id="openhour[]" class="admin__control-select" data-bind="optgroup: openhoursOpts,        optionsValue: 'value',optionsText: 'label',value: openhours, event: {change: userChanges}"></select>
            <select id="openminute[]" class="admin__control-select" data-bind="optgroup: openminutesOpts,optionsValue: 'value', optionsText: 'label', value: openminutes, event: {change: userChanges}"></select>
        </td>
        <td>
            <select id="closehour[]" class="admin__control-select" data-bind="optgroup: closehoursOpts, optionsValue: 'value', optionsText: 'label', value: closehours, event: {change: userChanges}"></select>
            <select id="closeminute[]" class="admin__control-select"data-bind=" optgroup: closeminutesOpts, optionsValue: 'value', optionsText: 'label', value: closeminutes, event: {change: userChanges}"></select>
        </td>
    </tr>
             <tr>
          <td>  <input type="text" name="day" value="Monday"></td>
        <td>
            <select id="status[]" class="admin__control-select" data-bind="optgroup: statusOpts,optionsValue: 'value', optionsText: 'label', value: status, event: {change: selectOption(this)}, afterRender: userChanges"></select>
        </td>
        <td>
            <select id="openhour[]" class="admin__control-select" data-bind="optgroup: openhoursOpts,        optionsValue: 'value',optionsText: 'label',value: openhours, event: {change: userChanges}"></select>
            <select id="openminute[]" class="admin__control-select" data-bind="optgroup: openminutesOpts,optionsValue: 'value', optionsText: 'label', value: openminutes, event: {change: userChanges}"></select>
        </td>
        <td>
            <select id="closehour[]" class="admin__control-select" data-bind="optgroup: closehoursOpts, optionsValue: 'value', optionsText: 'label', value: closehours, event: {change: userChanges}"></select>
            <select id="closeminute[]" class="admin__control-select"data-bind=" optgroup: closeminutesOpts, optionsValue: 'value', optionsText: 'label', value: closeminutes, event: {change: userChanges}"></select>
        </td>
    </tr>
             <tr>
          <td>  <input type="text" name="day" value="Monday"></td>
        <td>
            <select id="status[]" class="admin__control-select" data-bind="optgroup: statusOpts,optionsValue: 'value', optionsText: 'label', value: status, event: {change: selectOption(this)}, afterRender: userChanges"></select>
        </td>
        <td>
            <select id="openhour[]" class="admin__control-select" data-bind="optgroup: openhoursOpts,        optionsValue: 'value',optionsText: 'label',value: openhours, event: {change: userChanges}"></select>
            <select id="openminute[]" class="admin__control-select" data-bind="optgroup: openminutesOpts,optionsValue: 'value', optionsText: 'label', value: openminutes, event: {change: userChanges}"></select>
        </td>
        <td>
            <select id="closehour[]" class="admin__control-select" data-bind="optgroup: closehoursOpts, optionsValue: 'value', optionsText: 'label', value: closehours, event: {change: userChanges}"></select>
            <select id="closeminute[]" class="admin__control-select"data-bind=" optgroup: closeminutesOpts, optionsValue: 'value', optionsText: 'label', value: closeminutes, event: {change: userChanges}"></select>
        </td>
    </tr>  
    </tbody>
</table>
      <!-- <label style="font-weight: 550;padding-left: 11px;padding-right: 4px;" class=".admin__field-label" for="admin__control-select"> -->
        <!-- <span class="admin__field-label span"> Open Time:</span></label>   -->
<!-- <label style="font-weight: 550;padding-left: 11px;padding-right: 4px;" class=".admin__field-label" for="admin__control-select"> -->
<!--         <span class="admin__field-label span"> Close Time:</span></label> -->


        