<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2023 Amasty (https://www.amasty.com)
 * @package Reports for RMA (Add-On) for Magento 2
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Amasty_RmaReports::rma_reports"
             title="RMA Reports"
             translate="title"
             module="Amasty_RmaReports"
             sortOrder="100"
             parent="Magento_Reports::report"
             resource="Amasty_RmaReports::rma_reports" />
        <add id="Amasty_RmaReports::report_grid"
             title="Reports"
             translate="title"
             module="Amasty_RmaReports"
             sortOrder="10"
             parent="Amasty_RmaReports::rma_reports"
             action="amrmarep/report"
             resource="Amasty_RmaReports::report_grid" />
    </menu>
</config>
