<?xml version="1.0"?>
<!--
/**
* BSS Commerce Co.
*
* NOTICE OF LICENSE
*
* This source file is subject to the EULA
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://bsscommerce.com/Bss-Commerce-License.txt
*
* @category   BSS
* @package    Bss_ConfigurableMatrixView
* @author     Extension Team
* @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
* @license    http://bsscommerce.com/Bss-Commerce-License.txt
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <configurablematrixview>
            <general>
                <active>1</active>
                <sort_option>0</sort_option>
                <unit_price>1</unit_price>
                <tier_price>1</tier_price>
                <price_range>1</price_range>
                <show_total>1</show_total>
                <show_stock>0</show_stock>
                <qty_increase>0</qty_increase>
                <tier_price_calculate>0</tier_price_calculate>
                <customer_group>32000</customer_group>                
            </general>
        </configurablematrixview>
    </default>
</config>